/* Universal Styling */

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
}
.main {
    text-align: center;
}
.image-container {
    overflow: hidden;
}
.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 895px) {
    .media {
        top:
    }
}

li {font-weight: 400; font-size: 16px; color: #4a4a4a;}
h2 {font-size: 25px;}
h1 {font-family: 'Rubik', sans-serif; font-size: 50px; font-weight: 400;}
h3 {font-family: 'Roboto', sans-serif; font-size: 36px;}
p {font-family: 'Roboto', sans-serif; font-size: 16px;}
.caption {font-family: 'Roboto', sans-serif; font-size: 50px;}
.review span {font-family: 'Playfair Display'; font-size: 30px;}

h2, h1 {color: white;}

a:link { text-decoration: none; color: #4a4a4a;}
a:visited { text-decoration: none; color: #4a4a4a;}
a:hover { text-decoration: none; color: blue; }
a:active { text-decoration: none; color: yellow }


/* Header */

header {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 85px;
    background-color: white;
    border-bottom: solid 1px #c6c1c1;
    }
.logo {
    float: left;
    margin: 20px 30px;
}
nav ul {
    display: flex;
    justify-content: center;
    float: right;
    margin-right: 30px;
}
nav li {
    margin: 10px;
    list-style: none;
}
#instagram {
    width: 18px;
    height: auto;
    margin-left: 10px;
}
.logo span {
    font-size: 40px;
}
#button {
    display: none;
    background-color: #9DC20B;
    border-radius: 4px;
}
#button a {
    color: white;
}
.mobile #li-container {
    display: none;
}

/* Extra small devices (phones, 0px - 600px) 
@media only screen and (max-width: 600px) {} */
/* Small devices (tablets, 600px - 895px) */
/* Large devices (laptops/desktops, 895px -1200px) */

@media screen and (max-width: 600px) {
    .mobile ul {
        display: block;
        width: 100%;
    }
    .mobile ul li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .desktop ul {
        display: none;
    }
    .logo span {
        display: none;
    }
}

@media screen and (max-width: 895px) {
    .button {
        display: block;
    }
}

/* Banner */
.banner {
    margin-top: 85px;
    background-image: url("resources/images/banner-landingpage.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
}
/* Main Content */ 
.main {
    margin: 64px;
 img {
    width: 90%;
    height: 65%;
    padding: 32px;

}
    /* Features */

    /* Filters */

/* Review */

/* Footer */